.nav_bar
{ background-color:white;
    height: 80px;
    width: 100%;
    float: left;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: medium;
   }

.myname
{
    background-color:#4aaaa5;
    width:120px;
    float: left;
    text-align: center;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    color: floralwhite;
}

.p1
{
    width:700px;
    margin-left: 580x;
    float: left;
    text-align: right;
    padding-right: 25px;
    height: 60px;
}

.p
{
    width:120px;
    float: left;
    text-align: center;
    height: 60px;
    border-left-style: solid;
    border-left-width: medium;
    border-color:gray;
}

.about_me 
{
    clear:both;
    background-color:white;
    color: #4aaaa5;
    float: left;
    width:960px;
    margin-top: 180px;
    font-size: 40px;
    font-weight: bolder;
}

.profile_pic
{
    float: left;
    margin-top: 60px;
    border-top-style: solid;
    border-top-color: gray;
 
}
.profile
{
    color: gray;
    font-size: 16px;
    float: left;

}

.footer{
    clear: both;
}